.project-name {
  color: var(--color-primary);
  cursor: pointer;
}
.project-name h1 {
  margin: 20px 0 10px 0;
}
.project-name:hover {
  color: var(--color-primary-transparent);
  text-decoration: underline;
}
