.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 40px;
}

.content p {
  max-width: 350px;
}

.joke {
  text-align: left;
  border: 3px solid var(--color-primary);
  display: block;
  padding: 10px;
  height: 130px;
  width: 90px;
  font-size: 30px;
  margin: auto;
}
